body,

html {
    font-family: 'Lato', sans-serif;
}

#header{
    width: 100;
    background-color: white;
    transition: background ease-out 0.1s;
   
}

#header .navbar-collapse{
    width: auto;
    
   
}
#header .nav-link{
    text-transform:uppercase ;
 
    color: black;
}

#header .nav-link:hover {
    border-bottom: solid 2px black;


}
.primeira{
    color: orange;
    font-weight: 500;
  
}
.segunda{
    font-weight: 500;
    
}
.step-1 {
    margin-top: 1em;
    margin-bottom: 3em;
}
.step-1 {
    box-shadow: 0 22px 20px -5px rgb(0 0 0 / 10%);
    background-color: #ffffff;
    width: 528px;
    height: 192px;
    display: inline-block;
    margin-top: 4em;
    padding: 53px 83px 60px;
}
.card {
    display: block;
    margin: 2em;
}
.card {
    background-color: #ffffff;
    border: none;
    box-shadow: 0 12px 20px -5px rgb(0 0 0 / 12%);
    display: inline-block;
    margin: 7px;
    padding: 1.5em;
    text-align: center;
    
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
