@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.cards {
    justify-content: center;
    background-color: rgb(255, 235, 154);
    border-radius: 4px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 70px auto;
    width: 250px;
    height: 150px;
}

.cards__item {
    flex-basis: 25%;
    padding-left: 8px;
    padding-right: 8px;
}
